package ${classPackage}

import spock.lang.Specification

/**
 * @author ${System.getProperty('user.name')}
 * Created: ${new Date()}
 */
class ${className}Spec extends Specification {

  def "test-${className}" () {}
}