buildscript { 
  repositories { 
    ivy { 
      url 'http://dl.bintray.com/content/djmijares/gradle-plugins'
    }
  }

  dependencies {
    classpath 'gradle-templates:templates:1.3.2'
  }
}

apply plugin: 'multi-project-templates'

allprojects { 
  repositories { 
    mavenCentral()
  }
}

subprojects { subProject ->
  apply plugin: 'templates'  
}