buildscript { 
  repositories { 

  }
  dependencies { 

  }
}

apply plugin: 'multi-project-templates'

allprojects { 
  repositories { 
    mavenCentral()
  }
}

subprojects { subProject ->
  apply plugin: 'templates'  
}